@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat-regular.eot");
  src: url("fonts/montserrat-regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/montserrat-regular.woff") format("woff"),
    url("fonts/montserrat-regular.ttf") format("truetype"),
    url("fonts/montserrat-regular.svg#Montserrat") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("fonts/montserrat-light.woff") format("woff"),
    url("fonts/montserrat-light.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Regular.eot");
  src: url("fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/OpenSans-Regular.woff") format("woff"),
    url("fonts/OpenSans-Regular.ttf") format("truetype"),
    url("fonts/OpenSans-Regular.svg#OpenSans") format("svg");
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Light";
  src: url("fonts/OpenSans-Light.eot");
  src: url("fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"),
    url("fonts/OpenSans-Light.woff") format("woff"),
    url("fonts/OpenSans-Light.ttf") format("truetype"),
    url("fonts/OpenSans-Light.svg#OpenSans") format("svg");
  font-style: normal;
}

html {
  font-size: 16px;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: var(--page-text-color);
  background-color: var(--page-background-color);
  word-break: break-word;
  user-select: none;
}
