appConfig.json
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# test artifacts
/artifacts

# dependencies
/node_modules
/.pnp
.pnp.js

# build
/es
/lib
/umd
/*.tgz
/demo/dist

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
