registry=https://registry.yarnpkg.com/
//@switchcase:registry=https://pkgs.dev.azure.com/switchcasegroup/_packaging/SwitchCase/npm/registry/
//@instantencore:registry=https://pkgs.dev.azure.com/switchcasegroup/_packaging/SwitchCase/npm/registry/
always-auth=true
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=DF23468F-40B6-4668-BEA9-E2EBB9172834
