{
  "log": {
    "_recordingName": "client helloworld/should return data",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "5034f83d9e13dfcf442f56eb5d7eca9f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://dpb-api.zach.instantencore.com/1/helloworld"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 41,
            "text": "{\"id\":1,\"value\":\"Hello world 1 from api\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amzn-requestid",
              "value": "ccfc3900-30da-4a28-a188-8393d308a227"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "cTBHRHynIAMFgRw="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1729,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
